.gallery__grid {
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: auto;
    gap: 20px 17px;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:1279px) {
    .gallery__grid {
        grid-template-columns: repeat(2, 282px);
    }
}

@media screen and (max-width:767px) {
    .gallery__grid {
        grid-template-columns: 282px;
    }
}