.profile__title {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: minmax(300px, 100%) max-content;
    align-items: center;
    justify-items: space-between;
    margin-left: 30px;
    gap: 16px 18px;
}

@media screen and (max-width:1100px) {
    .profile__title {
        grid-template-columns: minmax(auto, 100%) max-content;
        margin-top: 26px;
        gap: 14px 10px;
    }
}