.card {
    width: 100%;
    height: fit-content;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 282px minmax(min-content, 79px);
    background-color: #fff;
    justify-items: stretch;
    align-items: stretch;
}