.popup__submit {
    display: block;
    box-sizing: border-box;
    width: 81%;
    background-color: #000;
    margin: 1px auto 37px;
    padding: 14px 0;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    outline: 0;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.popup__submit:hover {
    opacity: .8;
}

@media screen and (max-width:767px) {
    .popup__submit {
        margin-bottom: 25px;
        font-size: 14px;
    }
}